body {
    margin: 0;
    background-color: #FFDFD3;
}

.container {
    display: flex;
    padding-top: 180px;
    justify-content: center;
}

.calculator-container {
    display: flex;
    padding: 40px 30px;
    border-style: outset;
    border-color: #957DAD;
}

.calculator-body {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.button {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 22%;
    margin: 5px;
    width: 10px;
    height: 50px;
    text-transform: uppercase;
    padding: 1em 0.5em;
    justify-content: center;
    border-style: groove;
    background-color: #957DAD;
}


.button:hover {background-color: #E0BBE4}

.button:active {
  background-color: #E0BBE4;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.operation{
    background-color: #FFC894;
}

.operation:hover {background-color: #FFF5BD}

.operation:active {
  background-color: #FFF5BD;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#screen {
    text-align: right;
    padding: 10px 0 10px 0;
}
.top{
    font-family: 'Kaushan Script', cursive;
    font-size: 36px;
}
.upper-body{
    background-color: white;
    width: 437;
    border:1px solid black;
}

footer{
    display: flex;
    justify-content: center;
    padding-top: 150px;
}
